.cookie-notice{
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    bottom: 32px;
    right: 32px;

    padding: 32px;
    background-color: #f1f1f1;
    color: #000;
    box-shadow: 0 4px 16px #303030;
    border-radius: 8px;
    
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    z-index: 999;

    img{
        width: 64px;
        height: 64px;
        /* margin-inline: auto; */
    }

    strong{
        font-size: 24px;
        margin-bottom: 12px;
    }

    p{
        font-size: 16px;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cookie-buttons{
        gap: 8px;
    }

    button.button{
        margin-inline: auto;
        padding: 8px 16px;
        background-color: #0F9D58;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }

    button.declined{
        background-color: #000;
    }

    button.button:hover{
        opacity: 0.8;
        /* filter: grayscale(.5); */
    }

    span{
        font-size: 12px;
        color: #333;
    }

    a{
        color: #4285F4;
        text-decoration: none;
    }
}

.cookie-notice.disabled{
    display: none;
    opacity: 0;
}